<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g.j.admin.dao.system.role.JgRoleMapper">
  <resultMap id="BaseResultMap" type="com.g.j.admin.entity.system.po.JgRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_alias" jdbcType="VARCHAR" property="roleAlias" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="bit_disable" jdbcType="BIT" property="bitDisable" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
  </resultMap>



  <select id="queryPageRoleList" parameterType="com.g.j.admin.entity.system.dto.RoleQueryDto" resultMap="BaseResultMap">
    select id, role_name, role_alias, sort_num, bit_disable, remarks, create_date, create_user_id, 
    update_date, update_user_id,status
    from jg_role where id != "0"

    <if test="data.roleName != null and data.roleName != ''">
      and role_name like CONCAT('%',#{data.roleName,jdbcType=VARCHAR},'%')
    </if>

  </select>


  <select id="selectAll" resultMap="BaseResultMap">
    select id, role_name, role_alias, sort_num, bit_disable, remarks, create_date, create_user_id, 
    update_date, update_user_id
    from jg_role
  </select>
</mapper>
